# AWS
AWS_REGION=ap-south-1

# S3
S3_BUCKET_NAME=cloud-storage-demo-ankan

# DynamoDB
DYNAMODB_TABLE_NAME=cloud-files

# Cognito (optional for later)
COGNITO_USER_POOL_ID=ap-south-1_xxxxx
COGNITO_CLIENT_ID=xxxxxxxx

# App
SIGNED_URL_EXPIRY_SECONDS=300
